header {
  position: fixed; /* Fixa o header no topo da página */
  top: 0; /* Alinha ao topo */
  left: 0; /* Alinha à esquerda */
  width: 100%; /* Garante que o header ocupe toda a largura da página */
  z-index: 1000;
  background: var(--clr);
  height: 45px;
  padding-left: 20px;
  /* min-height: 15vh; */
  -webkit-box-shadow: 1px 5px 14px -4px rgba(0, 0, 0, 0.61);
  -moz-box-shadow: 1px 5px 14px -4px rgba(0, 0, 0, 0.61);
  box-shadow: 1px 5px 14px -4px rgba(0, 0, 0, 0.61);
  color: var(--secondary-color);
} /*Fim do header*/
header .titulo {
  padding-left: 60px;
  font-size: 1.6rem;
}
