body {
  font-family: sans-serif;
  margin: 0;
  padding: 20mm; /* Adjust padding as needed */
  box-sizing: border-box;
}

.pagina {
  width: 148mm; /* A5 width */
  height: 210mm; /* A5 height */
  margin: 10mm;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
}
.container {
  margin: 0 auto; /* Centraliza o contêiner */
  border: 3px solid #000000 !important; /* Optional border for visualization */
  border-top-left-radius: 40px !important; /* Rounded top-left corner */
  border-bottom-right-radius: 40px !important; /* Rounded bottom-right corner */
  padding: 10mm; /* Inner padding */
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10mm;
}

.logos img {
  max-height: 50px; /* Adjust logo size as needed */
  margin-right: 5mm;
}

.header-info {
  text-align: right;
}
.nodia {
  display: block; /* Garante que o elemento ocupe uma linha inteira */
  text-align: right; /* Alinha o texto à direita */
  margin-bottom: 10mm; /* Adiciona espaçamento inferior */
}

.nodia p {
  margin: 0; /* Remove margens padrão do parágrafo */
}

.dados {
  display: flex; /* Define um layout flexível */
  justify-content: space-between; /* Espaça os componentes igualmente */
  align-items: center; /* Alinha os componentes verticalmente */
  gap: 5mm; /* Adiciona espaçamento entre os componentes */
  margin-bottom: 10mm; /* Adiciona espaçamento inferior */
}

.prescription {
  max-width: 120mm; /* Ensures it does not exceed the container's width */
  overflow-wrap: break-word; /* Breaks long words to fit within the container */
  margin-bottom: 20mm; /* Adds spacing below the prescription section */
}
.prescription h3 {
  text-align: center;
  margin-bottom: 10mm;
}
table {
  width: 100%; /* Faz a tabela ocupar toda a largura do contêiner */
  table-layout: fixed; /* Garante que as colunas tenham larguras fixas */
  border-collapse: collapse; /* Remove espaços entre as células */
  margin-bottom: 30mm; /* Espaçamento inferior */
}

th,
td {
  border: 1px solid #ffffff;
}

th,
td {
  width: 28%; /* Define uma largura fixa para cada célula (ajuste conforme necessário) */
  height: 10mm; /* Define uma altura fixa para as células */
  padding: 1mm; /* Espaçamento interno */
  text-align: center; /* Centraliza o texto */

  font-size: 0.8rem; /* Tamanho da fonte */
  word-wrap: break-word; /* Quebra palavras longas */
  overflow: hidden; /* Esconde conteúdo que ultrapassar a altura */
  white-space: nowrap;
  text-overflow: ellipsis;
}

th {
  background-color: #f2f2f2;
}
.assinatura {
  text-align: end;
}
footer {
  width: 148mm;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 5mm;
}
footer img {
  max-height: 50px; /* Adjust logo size as needed */
  margin-right: 5mm;
}

/* Styling for printing */
@media print {
  body {
    width: 148mm;
    height: 210mm;
    margin: 10;
    padding: 0;
  }
  .container {
    border: none;
    width: 100%;
    height: 100%;
    padding: 10mm;
  }
  th,
  td {
    height: 10mm; /* Altura fixa para impressão */
    font-size: 0.8rem; /* Ajusta o tamanho da fonte para caber melhor */
    padding: 1mm; /* Reduz o espaçamento interno */
  }
}
